.deps
Makefile
Makefile.in
tstodrcodec.c
tstodrcodec.h
.libs
tstccl
tsticonv
tstmatchstr
tstnmem
tstodr
tstwrbuf
tstlog
tstsoap1
tstsoap2
tstodrstack
tstlogthread
tstxmlquery
tstpquery
tst_filepath
tst_record_conv
tst_retrieval
tst_tpath
tst_timing
tst_comstack
tst_query_charset
tst_icu_I18N
tst_match_glob
nfatest1
nfaxmltest1
tst_oid
*.log
*.o
