.deps
Makefile
Makefile.in
test_odrcodec.c
test_odrcodec.h
.libs
test_ccl
test_iconv
test_matchstr
test_nmem
test_odr
test_wrbuf
test_log
test_soap1
test_soap2
test_odrstack
test_logthread
test_xmlquery
test_pquery
test_xmalloc
test_filepath
test_record_conv
test_retrieval
test_tpath
test_timing
test_comstack
test_query_charset
test_icu
test_match_glob
test_rpn2cql
test_json
test_xml_include
test_oid
test_file_glob
test_log_thread
*.log
*.o
*~
