[submodule "m4"]
	path = m4
	url = https://github.com/indexdata/m4
[submodule "doc/common"]
	path = doc/common
	url = https://github.com/indexdata/id-docbook-common
[submodule "src/libstemmer_c"]
	path = src/libstemmer_c
	url = https://github.com/indexdata/libstemmer_c
