Makefile
Makefile.in
aclocal.m4
config
config.cache
config.status
configure
libtool
yaz-config
yaz.pc
Doxyfile
dox
autom4te.cache
ChangeLog
build-stamp
config.guess
config.sub
Default
*~
.settings
build
deb-src
*.o
*.lo
*.la
*.a
*.log
.deps
.libs
