Makefile
Makefile.in
aclocal.m4
config
config.cache
config.log
config.status
configure
libtool
yaz-config
yaz.spec
yaz.pc
Doxyfile
dox
autom4te.cache
ChangeLog
build-stamp
config.guess
config.sub
*~
debian/*.debhelper.log
debian/*.substvars
debian/*.postinst.debhelper
debian/*.postrm.debhelper
