
.table table {
	border-collapse;
	border: 1px solid black;
	border-spacing: 0;	
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}

.table th {
	padding: 3px 6px;
	border: 1px solid black;
}
.table td {
	text-align: left;
	padding: 3px 6px;
}

.screen, .synopsis, .programlisting {
	margin-left: 4%;
	margin-right: 4%;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #bbbbbb;
}
