Source: yaz
Section: devel
Standards-Version: 3.6.2
Maintainer: Adam Dickmeiss <adam@indexdata.dk>
Priority: extra
Build-Depends: debhelper (>= 4), pkg-config, libxslt1-dev, libgnutls-dev, libreadline5-dev, libwrap0-dev, libicu36-dev | libicu-dev

Package: libyaz3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: idzebra (<= 1.3.4-2), php4-yaz (<= 4.1.2-5)
Description: libraries for the Z39.50 toolkit
 YAZ is a toolkit that allows you to develop software using the
 ANSI Z39.50/ISO23950 standard for information retrieval.
 .
 This package includes runtime files.

Package: yaz
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: yaz-runtime, yaz-ssl
Description: utilities for the Z39.50 toolkit
 YAZ is a toolkit that allows you to develop software using the
 ANSI Z39.50/ISO23950 standard for information retrieval.
 .
 This package includes utility programs.

Package: yaz-doc
Section: doc
Architecture: all
Description: documentation for the Z39.50 toolkit
 YAZ is a toolkit that allows you to develop software using the
 Z39.50/ISO23950 standard for information retrieval.
 .
 This package includes HTML documentation for YAZ.

Package: libyaz3-dev
Depends: libyaz3 (= ${Source-Version}), libxslt1-dev, libwrap0-dev, libicu36-dev|libicu-dev, libgnutls-dev, tcl8.3|tclsh
Replaces: yaz-devel
Conflicts: yaz-devel, libyaz-dev, libyaz2-dev
Section: libdevel
Architecture: any
Suggests: yaz-doc
Description: development files for the Z39.50 toolkit
 YAZ is a toolkit that allows you to develop software using the
 ANSI Z39.50/ISO23950 standard for information retrieval.
 .
 This packages includes development libraries and C/C++ header files.

Package: yaz-illclient
Section: utils
Depends: ${shlibs:Depends}
Architecture: any
Description: ILL utility for the Z39.50 toolkit
 YAZ is a toolkit that allows you to develop software using the
 ANSI Z39.50/ISO23950 standard for information retrieval.
 .
 This packages includes the yaz-illclient program which sends ILL
 (Inter-Library-Loan) requests to a server and decodes the response.

Package: yaz-icu
Section: utils
Depends: ${shlibs:Depends}
Architecture: any
Description: ICU utility for the Z39.50 toolkit
 YAZ is a toolkit that allows you to develop software using the
 ANSI Z39.50/ISO23950 standard for information retrieval.
 .
 This packages includes the yaz-icu program which exposes the ICU chain
 facility of Z39.50 toolkit.

