#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --without python-support

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-tcpd --with-xslt --with-gnutls --with-icu \
		--with-memcached

override_dh_strip:
	dh_strip --dbg-package=libyaz5-dbg

override_dh_auto_install:
	dh_auto_install
	mv debian/tmp/usr/share/doc/yaz debian/tmp/usr/share/doc/yaz-doc

override_dh_makeshlibs:
	dh_makeshlibs -V 'libyaz5 (>= 5.13.0)'

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_installdocs:
	cp LICENSE debian/copyright
	dh_installdocs -A README
