#include "winver.h"
#include "..\include\yaz\yaz-version.h"

VS_VERSION_INFO VERSIONINFO 
  FILEVERSION YAZ_FILEVERSION
  PRODUCTVERSION YAZ_FILEVERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS_NT
  FILETYPE VFT_DLL
  FILESUBTYPE VFT2_UNKNOWN
{
 BLOCK "StringFileInfo"
 {
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "http://www.indexdata.com/yaz/\0"
            VALUE "CompanyName", "Index Data\0"
#ifdef ICU
            VALUE "FileDescription", "YAZ ICU DLL\0"
#else
            VALUE "FileDescription", "YAZ DLL\0"
#endif
            VALUE "FileVersion", YAZ_VERSION "\0"
            VALUE "InternalName", "YAZ\0"
            VALUE "LegalCopyright", "Copyright © 1995-2009 Index Data ApS\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "yaz.res\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "YAZ\0"
            VALUE "ProductVersion", YAZ_VERSION "\0"
            VALUE "SpecialBuild", "\0"
        END
 }
 BLOCK "VarFileInfo"
 BEGIN
        VALUE "Translation", 0x0, 1200
 END 
}
