// Version info for YAZ
// $Id: yaz.rc,v 1.2 2001-03-09 13:31:34 adam Exp $
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,7,0,1
 PRODUCTVERSION 1,7,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Z39.50 C Library\0"
            VALUE "CompanyName", "Index Data ApS\0"
            VALUE "FileDescription", "Yaz Toolkit\0"
            VALUE "FileVersion", "1, 7, 0, 2\0"
            VALUE "InternalName", "yaz\0"
            VALUE "LegalCopyright", "Copyright © 1996-2001 Index Data\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "yaz.rc\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Index Data yaz Toolkit\0"
            VALUE "ProductVersion", "1, 7, 0, 2\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
