# Build yaz from source
name: Build complete YAZ
on: [push, pull_request]
jobs:
 build-complete:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v4
     with:
      fetch-depth: 1
   - name: Update packages
     run: sudo apt update
   - name: Install required and optional dependencies
     run: >
      sudo apt install autoconf automake libtool gcc make bison
      tclsh xsltproc docbook docbook-xml docbook-xsl
      pkg-config libxslt1-dev libgnutls28-dev
      libreadline-dev libwrap0-dev libicu-dev
      libhiredis-dev libmemcached-dev
   - name: Run buildconf
     run: ./buildconf.sh
   - name: Run configure
     run: >
      ./configure --enable-tcpd --with-xslt --with-gnutls --with-icu
      --with-memcached --with-redis
   - name: Run Make check
     run: make -j4 check
   - name: Run Make dist
     run: make -j4 dist
   - name: Run Make clean
     run: make clean
