# Build minimal yaz from source
name: Build minimal YAZ
on: [pull_request]
jobs:
 build-minimal-yaz:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v4
     with:
      fetch-depth: 1
   - name: Update packages
     run: sudo apt update
   - name: Install required dependencies
     run: >
      sudo apt install autoconf automake libtool gcc make bison
      tclsh xsltproc docbook docbook-xml docbook-xsl
   - name: Run buildconf without xml, icu, ...
     run: ./buildconf.sh
   - name: Run configure without xml, icu, ...
     run: >
      CFLAGS="-g -Wall -std=c89" ./configure
      --without-xml2 --without-icu --disable-tcpd --without-memcached --without-redis
   - name: Run Make check
     run: make -j4 check
