# Build yaz from source with clang c23
name: Build complete YAZ, clang, c23
on: [pull_request]
jobs:
 build-clang-c23-complete:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v5
     with:
      fetch-depth: 1
   - name: Update packages
     run: sudo apt update
   - name: Install required and optional dependencies
     run: >
      sudo apt install autoconf automake libtool clang make bison
      tclsh xsltproc docbook docbook-xml docbook-xsl
      pkg-config libxslt1-dev libgnutls28-dev
      libreadline-dev libwrap0-dev libicu-dev
      libhiredis-dev libmemcached-dev
   - name: Run buildconf
     run: ./buildconf.sh
   - name: Run configure
     run: >
      CC=clang CFLAGS="-std=c23" ./configure --enable-tcpd --with-xslt --with-gnutls --with-icu
      --with-memcached --with-redis
   - name: Run Make check
     run: make -j4 check
